html {
  scroll-behavior: smooth;
}
nav {
  display: block;
  position: fixed;
  right: -1200px;
  top: 0px;
  padding: 10px 20px;
  z-index: 998;
  transition: right 0.5s ease;

  background-color: #2E6CA0;
  color: white;
}
.nav-visible {
  right: 0px
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0 0.5em
}
nav li a {
  display: inline-block;
  font-family: "Renner* Book", sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0;
  font-weight: bold;
  font-size: 80%;
  white-space: nowrap;
  letter-spacing: 0.05em;
  position: relative;
}
nav li a::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
nav li a:hover::before {
  transform: scaleX(1);
  transform-origin: left center;
}
@media (max-width:1048px) {
  nav {
    right: -280px;
    display: none;
    text-align: right;
  }
  .nav-vertical {
  }
  nav ul {
    display: block;
    margin: 2em 0 0 0;
    padding: 0;
    font-size: 150%;
  }
  .nav-open {
    right: 0px;
    display: block;
  }
  .menu-button {
    z-index: 999;
    display: block;
    position: fixed;
    top: 0px;
    right: -75px;
    width: 75px;
    height: 38px;
    cursor: pointer;
    border: none;
    transition: all .4s;

    background-color: #2E6CA0;
  }
  .menu-button-visible {
    right: 0px;
  }
  .menu-button span {
    display: inline-block;
    position: absolute;
    left: 28%;
    width: 40%;
    height: 2px;
    background-color: #fff;
    transition: all .4s;
  }
  .menu-button span:nth-of-type(1) {
    top: 12px;
  }
  .menu-button span:nth-of-type(2) {
    top: 18px;
  }
  .menu-button span:nth-of-type(3) {
    top: 24px;
  }
  .menu-button-open {
    right: 300px;
    background: none;
  }
  .menu-button-open span:nth-of-type(1) {
    transform: translateY(6px) rotate(-45deg);
  }
  .menu-button-open span:nth-of-type(2) {
    opacity: 0;
    transform: translateX(15px) ;
    transition-delay: 0;
  }
  .menu-button-open span:nth-of-type(3) {
    transform: translateY(-6px) rotate(45deg);
  }
  .menu-close {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    display: none;
    visibility: hidden;
    transition:all 0.2s ease;
    z-index: -1;
  }
  .menu-close-active {
    pointer-events: auto;
    visibility: visible;
    display: block;
    z-index: 990;
  }
}
